h1, h2, h3, h4, h5, h6, p, div, img, ul, ol, li, a, hr, table, section, footer, header, nav, aside, audio {
  margin: 0;
  padding: 0; }

.divide {
  border-bottom: 1px solid #ccc;
  margin: 10px 0; }

p {
  margin-bottom: 20px; }

.loading {
  display: flex; }

.common {
  margin: 0 8px;
  background: #abcdef; }
  .common:first-child {
    animation-delay: .1s; }
  .common:nth-child(2) {
    animation-delay: .2s; }
  .common:nth-child(3) {
    animation-delay: .3s; }
  .common:nth-child(4) {
    animation-delay: .4s; }
  .common:last-child {
    animation-delay: .5s; }

.circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  animation: circles 1s infinite; }

.rect {
  height: 10px;
  width: 4px;
  animation: rectangle 1s infinite; }

@keyframes circles {
  0% {
    transform: scale(0.8); }
  30% {
    transform: scale(1.5); }
  100% {
    transform: scale(0.8); } }

@keyframes rectangle {
  0% {
    transform: scaleY(0.8); }
  30% {
    transform: scaleY(2); }
  100% {
    transform: scaleY(0.8); } }
